{
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "strict": ["error", "never"],
    "no-set-state": "off",
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  }
}
